python-dotenv
Faker
requests
pytest
loguru
pip
attrs
brotli
PyYAML
minijinja
page
markdown2
MarkupSafe
pyee
allure-python-commons
click
Pygments
pluggy
iniconfig
certifi
python-slugify
urllib3
greenlet
idna
charset-normalizer
packaging
playwright
allure-pytest
pytest-playwright